<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Bring a Souvenir</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
       
      <div class="page-title">Bienvenue</div>
      <div class="demo-container">
         <h3>Tout l'artisanat, au juste prix !</h3>
      </div>
       
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>